<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for requesting an appointment.</h1>
    <p>
      Please click the link below to schedule your car maintenance.<br>
    </p>
    <p>
      <a href="http://localhost:3000/appointments/<%= @appointment.id %>">Schedule Your Appointment.</a>
    </p>
  </body>
</html>